.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.App .container{
  display: flex;
  width: 60%;
  height: 80vh;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 2rem;
}

.App .container h1{
  font-size: 3rem;
  font-weight: 800;
  color: brown;
  
}

.App .container form{
  width: 70%;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.App .container form label{
  font-size: 1.5rem;
  font-weight: 700;
}

.App .container form input{
  width: 80%;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 16px;
  padding: 4px 10px;
  margin-bottom: 1rem;
}

.App .container form button{
  width: 30%;
  height: 30px;
  border-radius: 10px;
  border: 2px ;
  padding: 5px;
  background-color: darkslateblue;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 2rem;
}

App .container h3{
  font-size: 2rem;

}

App .container span{
  font-size: 2rem;
  color: brown;
}
